.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: calc(100vh - 200px);
  padding: 0 20px;
}

.navigation {
  display: none;
}

@media (min-width: 992px) {
  .navigation {
    display: flex;
  }
}
